input{
    font-size: 16px;
}

button{
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
}

.card{
    margin-top:20px;
    padding:20px;
    border:2px dashed green;
    font-size: 16px;
    color:black;
}